* {
  box-sizing: border-box;
}

@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

body {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  margin: 0;
  padding: 0;
  background: #F1F2F3;
  min-width:800px;
}

/* 네비게이션 바 */
#nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  background-color: white;
  box-shadow: 0 1px 2px grey;
}

#nav img {
  margin-left: 20px;
}

#nav ul {
  list-style: none;
  float: right;
  margin: 0;
  line-height: 100px;
}

#nav li {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
}

#nav a {
  text-decoration: none;
  color: rgb(104, 101, 101);
  font-size: 25px;
  margin: 0 20px;
}

#nav #current {
  font-weight: 500;
  color: black;
}

/* 검색창 */
.search_box {
  margin-right: 20px;
}

.search_box input {
  background-image: url("images/search_icon.png");
  background-position: 5px center;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 20px;
  height: 40px;
  width:170px;
	padding: 0 35px;
	font-size: 15px;
  font-weight: 400;	
  border-radius: 5px;
  outline: none;
  border: 2px solid silver;
}

/* 배너 */
#banner {
  padding-top: 100px;
  max-height: 400px;
  object-fit: cover;
  object-position: 50% 75%;
}

/* 컨텐츠 */
.box {
  width: 300px;
  margin: 50px 20px;
  padding: 5px;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 1px 2px rgba(0,0,0,0.11),0 6px 8px rgba(0,0,0,0.07);
  display: inline-block;
  text-align: left;
}

#contents {
  text-align: center;
}

#contents .item {
  display: block;
  height: 70px;
  border-bottom: 1px solid rgb(240, 240, 240);
  text-decoration: none;
  color: black;
}

#contents .box h3 {
  padding: 5px 0 10px 0;
  margin: 0;
  text-align: center;
  font-weight: 700;
  color: #6c6a69;
}

#contents .box .small {
  float: left;
  margin: 5px 10px 5px 5px;
  border-radius: 3px;
  width: 60px;
}

#contents .box h5 {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  padding-top: 12px;
  padding-bottom: 6px;
}

#contents .box span {
  font-size: 14px;
  font-weight: 300;
}

#contents #popular span {
  font-weight: 500;
  line-height: 30px;
}

#contents #popular .meta {
  height: 22px;
  margin: 0 10px 0 0;
  vertical-align: middle;
  margin-top: auto;
  margin-bottom: auto;
}

#contents .more {
  display: block;
  text-align: center;
  line-height: 40px;
  font-weight: 1000;
  text-decoration: none;
  color:black;
}

/* 게임 페이지 */
#contents .box2 {
  width: 290px;
  margin: 50px 20px;
  padding-top: 20px;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 1px 2px rgba(0,0,0,0.11),0 6px 8px rgba(0,0,0,0.07);
  display: inline-block;
  text-decoration: none;
  color: rgb(33, 37, 41);
  text-align: center;
}

#contents .box2 .big {
  width: 250px;
}

#contents .box2 h4 {
  font-size: 20px;
  margin: 10px;
}

#contents .box2 p {
  margin: 8px
}

#contents .box2 p img {
  width: 22px;
  padding: 0;
}

/* 커뮤니티 페이지 */
.mypost {
  max-width: 500px;
  width: 95%;

  margin: 20px auto 0px auto;

  box-shadow: 0px 0px 3px 0px gray;
  padding: 20px;

  background-color: white;
}

.mybtn {
  margin: 20px auto 0px auto;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  border-right-width: 200px;
}

.card {
  max-width: 500px;
  width: 95%;
  margin: 20px auto 0px auto;
  padding: 20px;

  text-align: center;
}

/* 고객 지원 */
#map {
  width: 1100px;
  height: 450px;
  margin: 0 auto;
  position: relative;
}

#map img:first-child{
  margin: 20px auto;
  
}

#map img:nth-child(2){
  position: absolute;
  left: 35%;
  top: 27%;
}

audio {
  width: 500px;
}

/* TOP 버튼 */
#to-top {
	position: fixed;
	right: 30px;
	bottom: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #fefefe;
	box-shadow: 2px 2px 10px #bfbfbf;
	visibility: hidden;
	opacity: 0;
	transition-duration: .3s;
	cursor: pointer;
  font-size: 25px
}

#to-top.show {
	visibility: visible;
	opacity: 1;
}

/* 미디어 쿼리 */
@media (max-width:1008px) {
  #nav img {
    margin-left: 0;
  }

  #nav a {
  font-size:15px;

  margin: 0 15px
  }

  #nav li {
    margin-left: 0;
  }

  #nav ul {
    padding-left: 0;
  }
}
