* {
  box-sizing: border-box;
}

@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

body {
  font-family: 'Spoqa Han Sans Neo', sans-serif;
  margin: 0;
  padding: 0;
  background: #f9f9f9;
  width: 1200px;
  height: 100%;
  margin: auto;
  position: relative;
}

html::before {
  width: 100%;
  height: 180%;
  content: "";
  background-image: url('https://i.pinimg.com/originals/c1/5a/f3/c15af3f323046aa99bb43d916c8cfce2.jpg');
  background-repeat: no-repeat;
  background-size: fit;
  opacity: 0.05;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

/* 네비게이션 바 */
#nav {
  position: fixed;
  top: 0;
  left: auto;
  right: auto;
  z-index: 10;
  height: 90px;
  background-color: white;
  width: 1200px;
  border: 1px solid rgb(214, 214, 214);
}

#nav img {
  margin-left: 20px;
  float:left;
  height: 90px;
}

#nav ul {
  list-style: none;
  float: left;
  margin: 0;
  line-height: 90px;
}

#nav li {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
}

#nav a {
  text-decoration: none;
  color: rgb(104, 101, 101);
  font-size: 22px;
  margin: 0 20px;
}

#currency {
  border: none;
  width: 75px;
  height: 30px;
  font-size: 16px;
}

#nav .small_profile {
  display: inline-block;
  line-height: 90px;
  margin: 0;
}

#nav .small_profile_img {
  width: 30px; 
  height: 30px;
  border: 1px solid rgba(0,0,0,0.11);
  border-radius: 70px;
  -moz-border-radius: 70px;
  -khtml-border-radius: 70px;
  -webkit-border-radius: 70px;
  margin: 30px 0 30px 350px;
}

#nav #login {
  line-height: 90px;
  float: right;
  color: black;
  font-weight: 600;
  font-size: 18px;
  margin: 0 20px 0 0;
}

#nav #current {
  font-weight: 500;
  color: black;
}

/* 미디어 쿼리 */
@media (max-width:1200px) {
  #nav a {
    font-size: 16px;
    margin: 0 5px;
  }  
  
  #nav #login {
    font-size: 15px;
    float: left;
    margin: 0 0 0 10px;
  }

  #nav ul {
    padding-left: 0;
  }

  #nav .small_profile_img {
    margin: 30px 0;
  }
}

@media (max-width:570px) {
  #nav a {
    font-size: 13px;
    margin: 0 3px;
  }  
  
  #nav #login {
    font-size: 12px;
    float: left;
    margin: 0 0 0 10px;
  }

  #nav ul {
    padding-left: 0;
  }

  #nav .small_profile_img {
    width: 20px;
    height: 20px;
    margin: 35px 0;
  }
}

/* 배너 */
#banner {
  padding-top: 90px;
  max-height: 400px;
  object-fit: cover;
  object-position: 50% 75%;
  width: 1200px;
}

#contents {
  text-align: center;
}

/* TOP 버튼 */
#to-top {
	position: fixed;
	right: 30px;
	bottom: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #fefefe;
	box-shadow: 2px 2px 10px #bfbfbf;
	visibility: hidden;
	opacity: 0;
	transition-duration: .3s;
	cursor: pointer;
  font-size: 25px
}

#to-top.show {
	visibility: visible;
	opacity: 1;
}
