/* 상세 페이지 */
#detailbox {
  width: 910px;
  height: 400px;
  background-color: white;
  margin: 30px auto;
  border-radius: 10px;
  border: 2px solid #e5e5e5;
  padding: 20px;
  text-align: left;
}

#detailbox img {
  border-radius: 10px;
  width: 350px;
  height: 350px;
  margin-right: 50px;
  display: inline-block;
  object-fit: cover;
}

#details {
  display: inline-block;
  width: 450px;
  vertical-align: top;
}

#detailbox h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

#detailbox form button {
  height: 40px;
  font-size: 15px;
  border: 0;
  margin-bottom: 10px;
  background-color:cornflowerblue;
  color:aliceblue;
}

#detailbox p {
  border-bottom: 1px solid rgb(240, 240, 240);
  padding: 20px 0 10px 0;
  margin: 0;
  font-weight: 600;
}

#detailbox p span {
  font-weight: normal;
}

#detailbox button {
  background-color: white;
  padding: 7px 13px;
  border: 2px solid rgb(240, 240, 240);
  border-radius: 8px;
  margin-right: 5px;
  cursor: pointer;
}

#detailbox button:hover {
  font-weight: bold;
}

#commentbox {
  width: 910px;
  background-color: white;
  margin: 30px auto;
  border-radius: 10px;
  border: 2px solid #e5e5e5;
  padding: 20px;
}

#commentbox h4 {
  text-align: left;
  margin-left: 10px;
  font-size: 20px;
}

#commentbox .private {
  float: left;
  width: 140px;
} 

#commentbox input {
  margin-bottom: 10px;
  border-radius: 5px;
  border: 2px solid #e5e5e5;
	padding: 0 10px;
  width: 130px;
  height: 30px;
}

#commentbox textarea {
  float: left;
  width: 620px;
  height: 70px;
  border-radius: 5px;
  border: 2px solid #e5e5e5;
  padding: 8px 15px;
  margin: 0 15px 30px 15px;
}

#commentbox.login h4 {
  margin-left: 18px;
}

#commentbox.login textarea {
  width: 750px;
}

#commentbox .submit {
  float: left;
  height: 70px;
  width: 70px;
  border-radius: 5px;
  border: 2px solid #e5e5e5;
  cursor: pointer;
}

#commentbox .submit:hover {
  font-weight: bold;
}

.comments {
  width: 850px;
  margin: 50px 0;
  padding-left: 20px;
  text-align: left;
  list-style: none;
}

.comments li {
  padding: 10px 0;
  border-bottom: 2px solid rgb(240, 240, 240);
}

.comments div {
  display: inline-block;
  white-space: pre-line;
}

.comments div:nth-child(1) {
  width: 120px;
  vertical-align: middle;
}

.comments div:nth-child(2) {
  width: 600px;
}

.login .comments div:nth-child(2) {
  width: 650px;
}

.comments .example {
  font-weight: bold;
}

.comments .example div:nth-child(3){
  text-align: center;
}

.comments .delete {
  display: inline;
}

.comments .delete button {
  background-color: white;
  border: 0;
  cursor: pointer;
  vertical-align: top;
  opacity: 0.8;
  font-size: 16px;
  vertical-align: middle;
}

.comments .delete button:hover {
  opacity: 1;
  color: red;
}

#commentbox > ul > li > form > input:nth-child(3) {
  width: 80px;
  margin: 0;
}